@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

* {
    font-family: "Poppins", "Noto Sans TC", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    width: 100%;
  }

  body {
    width: 100%;
    background-color: hsl(186, 100%, 42%);
  }

  .container{
    max-width: 450px;
    width: 85%;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
    
  }

  .header {
    text-align: center;
    font-size: 1.5rem;
    color: hsl(0, 0%, 30%);
    font-weight: 400;
    margin-bottom: 1.25rem;
  }
  
  .new-item-form {
    position: relative;
    background-color: transparent;
    margin-bottom: 1rem;
  }

  /* .form-row{
    
  } */
  
    
  /* border 要設定同樣粗度和給一個顏色，給透明色，focus 時才能淡入 */
  .form-row input {
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: hsl(0, 0%, 95%);
    border-radius: 0.5rem;
    color: hsl(0, 0%, 0%);
    transition: border 0.5s;
  }

  .form-row input::placeholder { 
    color: hsl(0, 0%, 75%);
  }
  
  .form-row input:focus {
    border: 1px solid hsl(186, 100%, 42%);
  }

  .btn {
    /* 消除空隙 */
    display: block; 
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .btn.btn-add{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 1.25rem;
    font-size: 1.5rem;
    color: hsl(186, 100%, 42%);
    transition: font-size 0.15s linear, background-color 0.15s ease-out;
  }

  .btn.btn-add:hover{
    color: hsl(226, 98%, 61%);
  }

  .btn.btn-add:active{
    font-size: 1.25rem;
  }

  .no-todos{
    color: hsl(0, 0%, 30%);
  }

  /* 清單項目 */

  .btn.btn-delete {
    background: transparent;
    padding: 4px 6px;
    font-size: 1rem;
    color: hsl(0, 0%, 50%);
    transition: color 0.1s ease-out, scale 0.1s ease-out;
  }
  
  .btn.btn-delete:hover,
  .btn.btn-delete:focus-visible {
    color: hsl(15, 94%, 48%);
    scale: 1.15;
  }


  .list {
    /* margin: 0;
    padding: 0;
    margin-left: 0; */
    list-style: none;
  }
  
  .list li:has(input:checked) label span{
    color: hsl(0, 0%, 55%);
    text-decoration:line-through;
  }
  
  .list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.25rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    transition: color 0.1s ease;
  }

  .list li:hover{
    color: hsl(200, 100%, 50%);
  }

  .list li:active{
    color: hsl(200, 100%, 50%);
  }
  
  .list li label {
    display: flex;
    width: 100%;
    font-size: 1.25rem;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
  }
  
  /* 隱藏預設的 checkbox 樣式 */
  .list li input {
    position: absolute;
    outline: none;
    width: 0;
    height: 0;
    pointer-events: none;
    appearance: none;
  }

  .list li span{
    font-size: 1rem;
  }
  
  /* 客製化 checkbox */
  .list li label::before {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background: hsl(0, 0%, 93%);
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .list li label:hover::before {
    background: hsl(200, 100%, 80%);
  }
  
  .list li:has(input:checked) label::before {
    content: "✔";
    background: hsl(200, 100%, 40%);
    color: hsl(200, 100%, 90%);
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  .list li:has(input:checked) label:hover::before {
    background: hsl(200, 100%, 30%);
  }

  /* clear 按鈕的父層 div */
  .container div:has(.clear){
    margin-top: 1rem;
  }

  .clear{
    border: 1px solid  hsl(186, 100%, 42%);
    border-radius: 0.5rem;
    color: hsl(186, 100%, 42%);
    background-color: transparent;
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    width: 48%;
    margin-right: 4%;
    cursor: pointer;  
    transition: all 0.2s ease-out;
  }


  .clear:hover{
    color: hsl(0, 0%, 100%);
    background-color: hsl(186, 100%, 42%);
  }

  .clear:active{
    color: hsl(0, 0%, 100%);
    background-color: hsl(186, 100%, 42%);
    font-size: 1rem;
  }

  .clear.all{
    margin-right: 0;
  }